@page
@model ZeelandZoo.Pages.EventsCRUD.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Rediger</h1>

<h4>Events</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Events.Id" />
            <div class="form-group">
                <label asp-for="Events.Name" class="control-label"></label>
                <input asp-for="Events.Name" class="form-control" />
                <span asp-validation-for="Events.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Events.Description" class="control-label"></label>
                <textarea asp-for="Events.Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Events.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Events.EventDate" class="control-label"></label>
                <input asp-for="Events.EventDate" class="form-control" />
                <span asp-validation-for="Events.EventDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Events.EventPrice" class="control-label"></label>
                <input asp-for="Events.EventPrice" class="form-control" />
                <span asp-validation-for="Events.EventPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Events.EventAttendanceLimit" class="control-label"></label>
                <input asp-for="Events.EventAttendanceLimit" class="form-control" />
                <span asp-validation-for="Events.EventAttendanceLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Tilbage til listen</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
